.footer
  .footer__logo
    img(src="/img/logo-green.png" alt="Natours logo")
  ul.footer__nav
    l: a(href="#") About us
    l: a(href="#") Download apps
    l: a(href="#") Become a guide
    l: a(href="#") Careers
    l: a(href="#") Contact
  p.footer__copyright(&copy; by Jonas Schmedtmann. All rights reserved.)
